body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;  /* mozilla */
  background: linear-gradient(to right, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
  /* background-image: url(./1.jpg); w3c */
}
body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome browsers */
}
.container{
  height: 800px;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
   display: none;  /* Safari and Chrome browsers */
}

.container {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none;  /* mozilla */
}